* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  background-color: #FCF5FC;
  font-family: "Maven Pro", sans-serif;
}

img {
  width: 100%;
}

.container {
  background-color: #ffffff;

  display: grid;
  grid-template-areas: "header"
    "main"
    "footer";

  margin-right: 6em;
  margin-left: 6em;
}

header {
  grid-area: header;
  max-width: 100%;
}

main {
  grid-area: main;
  margin:1em;
  max-width: 100%;

}

footer {
  grid-area: footer;
  max-width: 100%;

}

.ul_header {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 1.5em;
}

.logo_container {
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header_img_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.header_img_logo h1:nth-child(2) {
  color: white;
  margin-bottom: 2em;
}

.first_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.plant_datum {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.lägg {
  all: unset;
  align-self: center;
  padding:1em;
  background-color:#0A846E;
  border-radius: 9px;
  color: white;
  text-align: center;
  margin-bottom: 4em;
}

.second_section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
} 
.second_section>h2{
  align-self: center;
}
.plant-card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}
.card-img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em;
  
}
.all_elements{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.first_element{
  display: flex;
  gap: 4em;
  margin-top: 1em;
}

.second_element{
  display: flex;
  gap: 4em;
  margin-bottom: 1em;
}

.card-btn{
  all: unset;
  background-color: #B93857;
  color: white;
  text-align: center;
  border-radius: 9px;
  margin-right: 1em;
  padding: 0.5em;
  max-width: 50%;
}

.third_section{
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.planned-plants{
  display: flex;
  gap:2em;
}


.picture_footer{
  display: flex;
  padding: 1em;
  background-color:#9E6D52 ;

}

.picture_footer>figure{
flex:1

}
.toppen{
  display: flex;
  padding: 2em;
  justify-content: center;
}

.toppen>button{
  all: unset;
}