@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #FCF5FC;
  font-family: "Maven Pro", sans-serif;
}

img {
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "header" "main" "footer";
  margin: 0.8rem;

}

header {
  grid-area: header;
  background: url(/assets/zoe-schaeffer-PFbOZfKh07I-unsplash.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

}

main {
  grid-area: main;
}

footer {
  grid-area: footer;


}

.header_container {
  padding-top: 0.8em;
  padding-right: 0.8em;
  align-self: end;
}


.header_2_3_and_4_container {
  display: flex;
  flex-direction: column;

}

.header_3_and_4_container {
  display: flex;
}

.first-picture {
  background-color: #9E6D52;
  display: flex;
  flex: 1;
  padding: 2em;
}

.second-picture {
  background-color: #0A846E;
  display: flex;
  padding: 2em;
  flex: 1;

}

.min_navigator_big_screen {
  display: none;
}

.seedling {
  margin-top: 0.7em;
}

.dig {
  align-self: center;
}

.planthood {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  color: rgba(10, 132, 110, 1);

}

.desc {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

desc p {
  text-align: center;
  max-width: 50%;

}

.main_part h1 {
  color: #0A846E;
}

.desc p {
  max-width: 50%;
}

.så {
  background-color: #0A846E;
  padding: 1em;
  border-radius: 9px;
  color: white;

}

.circle_and_svg {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}


.circle {
  background-color: #0A846E;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  padding: 3em;
}


.line {
  background-color: #0A846E;
  padding: 0.1rem;
  width: 50%;
  display: flex;
  margin-left: 25%;

}


.planned-title {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3em;
}

.planned-plants {
  display: grid;
  grid-template-columns: 48% 48%;
  /*to be responsive*/
  gap: 4%;
}

.plant-card {
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

.card-img {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;

}


.all_elements {
  margin-bottom: 0.8rem;
  display: grid;
  gap: 4%;
  grid-template-columns: 60% auto;
}

.card-btn {
  background-image: url(/assets/red_rubbish.svg);
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-position: center;
  color: red;
}

.card-btn>p {
  display: none;
}

.a_name {
  font-weight: lighter;
}

.fler {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
  margin-bottom: 3em;
}

.pfler {

  background-color: #0A846E;
  padding: 1em;
  border-radius: 9px;
  color: white;
}

.main_third_part {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.img_inside {
  padding: 3em;
}

.desc2 {
  display: flex;
  flex-direction: column;
  align-items: center
}

.third_part_text {
  text-align: center;
  padding: 1em;
}

.planterade {
  background-color: #0A846E;
  padding: 1em;
  border-radius: 9px;
  color: white;
  margin-bottom: 1em;
}

.footer_container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "pic"
    "blak";

}

.footer_img_logo {
  grid-area: pic;
}

.more_black {
  grid-area: blak;
  background: #000000c9;

}


.mobil_mail {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.phone {
  display: flex;
  margin-top: 38%;
  gap: 1rem;
  margin-bottom: 2%;
  margin-left: 1em;


}

.chao {
  color: white;
  text-align: center;
  margin-top: 50%;
  font-size: 2em;
}

.all_mail {
  display: flex;
  gap: 1rem;
  margin-bottom: 2%;
  margin-right: 1em;
}

.img_nummer {
  width: 1rem;

}

.p_mail {
  color: white;
}

.num {
  color: white;
}

.img_mail {
  width: 1rem;
}

.last {
  padding: 3em;
  display: flex;
  justify-content: center;
}

.finish {
  padding: 0;
  border: none;
  background: none;

}

@media screen and (min-width: 769px) {

  .container {
    margin-right: 8em;
    margin-left: 8em
  }

  /* laptop */
  .header_container {
    display: none
  }

  .header_2_3_and_4_container {
    display: flex;

    flex-direction: row;
  }

  .header2_conthainer {
    flex: 1;

  }

  .header_3_and_4_container {
    display: flex;
    flex-direction: column;
    flex: 1
  }

  header {
    background-position: -100%;
  }

  .hand-and-svg-picture {
    margin-top: 60%;
  }

  .min_navigator_big_screen {
    display: contents;

  }

  .min_navigator_big_screen ul {
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    color: rgba(5, 86, 71, 1);
  }


  .main_part {
    display: flex;
    flex-direction: row;
  }

  .desc {
    order: 1;
  }

  .så {
    margin-left: 25%;
    margin-bottom: 2.5em;
  }

  .card-btn {
    background: none;
    background-image: none;
    all: unset;
    background-color: #B93857;
    color: white;
    text-align: center;
    border-radius: 9px;
    margin-right: 1em;
    max-width: 50%;

  }

  .card-btn>p {
    display: inline
  }

  .fler {
    margin-top: 20%;
  }

  .main_third_part {
    flex-direction: row;
    margin-bottom: 2rem;
    justify-content: space-between;
  }

  .circle {
    order: 2;
  }

  .img_inside {
    width: 12rem;
  }

  .footer_container {
    display: flex;
  }

  .footer_img_logo {
    order: 1;
    align-self: center;
    margin-left: 15%;
  }

  .more_black {
    width: 50%
  }
}